{# DO THIS: the '!' symbol tells Symfony to extend from the original template #}
{% extends '@!EasyAdmin/layout.html.twig' %}


{% block content %}
    <div class="dashboard-content pt-3">
        <h6>Parser dashboard page</h6>
    </div>
{% endblock %}
